<!--The content below is only a placeholder and can be replaced.-->
<div class="mdl-grid " style="background:#ffffff;">
  <div class="mdl-cell mdl-cell--4-col"></div>

  <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title">

    </div>
    <h4 class="" style="color: black; text-align: center!important;">Accéder à vote compte</h4>
    <!--<div class="">
      Feuille de match
    </div> -->
    <div  class="mdl-card__actions mdl-grid " style="padding: 0px 40px 0px 40px ;" >
      <div     style="height: 150px">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col" style="margin: 0px!important;">
          <input class="mdl-textfield__input" type="text" id="sample3" (keyup)="onNameKeyup($event)">
          <label class="mdl-textfield__label" for="sample3">identifiant</label>
        </div>

        <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col" style="margin: 0!important; ">
          <input class="mdl-textfield__input" type="password" id="sample4" (keyup)="onPasswordKeyup($event)">
          <label class="mdl-textfield__label" for="sample4">Mot de passe</label>
        </div>
      </div>

      <div class="mdl-grid  mdl-cell  mdl-cell--12-col" style="padding: 0!important;">
        <div class="mdl-cell--6-col mdl-cell" > </div>
        <button (click)="getprofile()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--6-col mdl-cell">
          Connexion
        </button>
      </div>
    </div>
    <div class="mdl-card__menu">

    </div>
  </div>
</div>
